:root {
  --cadet-gray: #A0A5ABff;
--french-gray: #BCB8BCff;
--blue-crayola: #0077F8ff;
--white: #FCFCFCff;
--ghost-white: #F6F9FFff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  column-gap: 6px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  z-index: 9999;
}

.navbar .logo {
  /* background-color: aqua; */
  letter-spacing: 5px;
  font-weight: 600;
  flex-basis: 200px;
}

.navbar .navbar-nav {
  /* background-color: salmon; */
  flex: 1;
  display: flex;
  column-gap: 2rem;
  /* background-color: salmon; */
  padding: 10px;
}

.navbar .navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.85rem;
  position: relative;
  /* background-color: aqua; */
}

.navbar-nav a:hover, .navbar-nav a:active {
  color: blue;
}

.navbar-nav a:nth-child(8) {
  display: inline-block;
  background-color: var(--blue-crayola);
  padding: 5px 15px;
  position: relative;
  top: -5px;
  border-radius: 10px;
  color: white;
}

.navbar .navbar-socials {
  /* flex: 1; */
  /* background-color: aqua; */
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}

.hamburger-menu {
  display: none;
}

/* container  */
.container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.container .aside {
  width: 100%;
  height: 100vh;
  background-color: var(--whit  e);
  padding: 0.5rem;
  border-right: 1px solid rgba(212, 197, 197, 0.568);
}

.aside fieldset {
  margin-top: 20px;
  width: 90%;
  padding: 5px 5px;
  border: solid 1px rgba(0, 0, 0, 0.295);
  font-size: 0.9rem;
}

.aside fieldset select {
  width: 100%;
  padding: 5px;
  border: none;
  list-style: none;
}

.aside .search-box {
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  padding: 5px 12px;
  color: gray;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.aside .search-box input {
  width: 80%;
  border: none;
  font-size: 0.9rem;
  list-style: none;
  margin-left: 10px;
}

.aside .box-content {
  /* WITDHT HARUS DIUBAH KE % */
  position: relative;
  width: 190px;
  padding: 10px 0 10px 2rem;
  /* border: 1px solid; */
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  left: -20px;
  
}

.box-content span {
  margin-left: 10px;
  letter-spacing: 2px;
  
}

.aside .box-content:hover {
  border: 1px solid rgba(14, 158, 241, 0.425);
}

.aside .box-content.active {
  background-color: rgba(14, 158, 241, 0.425);
  color: blue;
}

/* main section */
.container .main-content {
  background-color: var(--ghost-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 2rem;
  /* background-color: red; */
}

.main-content .nav {
  /* background-color: salmon; */
  width: 100%;
  display: flex;
  column-gap: 20px;
  margin-bottom: 40px;
}

.main-content .content1 {
  width: 100%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 1.2rem;
}

.content1 .name-site {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.content1 .name-site .profile .fa-user {
  font-size: 1.3rem;
  
}

.content1 .name-site .name a {
  text-decoration: none;
  color: var(--blue-crayola);
  font-weight: 600;
  line-height: 2;
}

.content1 .name-site .name .lead, .lead {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
}

.content1 .isi-site {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.content1 .isi-site .item {
  display: flex;
  /* background-color: salmon; */
  column-gap:10px;
}

.content1 .isi-site .item .item-name p {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 2;
  color: gray;
}

.content1 .isi-site .item .item-name .link, .content2 .link {
  color: var(--blue-crayola);
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
}

.content1 .isi-site .item .item-name .link:hover {
  text-decoration: underline;
}





/* content 2 */
.content2 {
  margin-top: 2rem;
  display: flex;
}

.content2 .card .card-item {
  width: 100%;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(128, 128, 128, 0.329);
  border-radius: 10px;
  line-height: 2;
}

.content2 .card.mx {
  margin-right: 20px;
}

.content2 .grid-box {

  display: grid;
  width: 80%;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  grid-template-areas: '1 2 3'
                       'footer footer footer';
}

.content2 .grid-box .card-item {
  padding: 1rem;
}

.content2 .grid-box .card-item:last-child {
  padding: 1rem;
  grid-area: footer;
}

.content2 .grid-box .card-item .content{
  border: solid 1px rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  position: relative;
  padding: 1rem 2.2rem;
  margin-top: 20px;
}

.content2 .grid-box .card-item .content .fa-x {
  position: absolute;
  top: 21px;
  right: 12px;
  color: gray;
  cursor: pointer;
}

.content2 .grid-box .card-item .content .fa-cloud {
position: absolute;
top: 23px;
left: 5px;
cursor: pointer;
}

.content2 .grid-box .card-item .content .cta {
  display: inline-block;
  padding: 0.3rem 1rem;
  background-color: transparent;
  border: rgba(163, 160, 160, 0.473) solid 1px;
  color: var(--blue-crayola);
  cursor: pointer;
}





/* media queries */
@media screen and (max-width: 970px) {
  .navbar-nav a, .navbar-nav a:nth-child(8) {
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    border-width: 1px;
    width: 50%;
    margin: 0 auto;
    /* display: none; */
  }

  
  
.navbar-nav {
    display: inline-block;
    background-color: var(--white);
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    width: 200px;
    height: 100vh;
    row-gap: 10px;
    transition: 0.5s;
    transform-origin: left;
  }


.navbar-nav.active {
left: 0;
  }
  
  .navbar-nav a:nth-child(8) {
    width: 80%;
    left: 20px;
    top: 0px;
    margin: 0;
  }

  .hamburger-menu {
    display: inline-block;
  }


  .aside {
    position: absolute;
    left: -100%;
    transform-origin: left;
    background-color: var(--white);
    transition: 0.5s;
    z-index: 999;
  }
  
  .aside.active {
    left: 0;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .content1 {
    margin-top: 20px;
  }

  
  

  
}

@media screen and (max-width: 620px) {
  .navbar {
    font-size: 0.8rem;
  }

  .main-content .content1 {
    width: 94%;
  }
  .content1 .isi-site {
    flex-direction: column;
    /* background-color: salmon; */
  }

  .content1 .isi-site .item {
    /* border-bottom: gray 1px solid; */
    margin-bottom: 25px;
  }
  
  .content2 {
    flex-direction: column;
  }

  .content2 .grid-box {
    grid-template-columns: 1fr;
    grid-template-areas: 'order1'
                          'order2'
                          'order3'
                          'footer';
    width: 95%;
  }

  .content2 .grid-box .card-item:first-child {
    grid-area: order1;
  }

  .content2 .grid-box .card-item:nth-child(2) {
    grid-area: order2;
  }
  .content2 .grid-box .card-item:nth-child(3) {
    grid-area: order3;
  }


  .content2 .grid-box .card-item:last-child {
    grid-area: footer;
  }


}